/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Thin.woff2) format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Forum';
    src: url(../fonts/Forum.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-ExtraLight.woff2) format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

:root { 
  --font-family: "Roboto", sans-serif;
  --second-family: "Forum", sans-serif;
}

body{
    font-family: var(--font-family);
}

._container {
    min-height: 100%;
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}

.wrapper {
    max-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*--PAGE--------------------------------*/
.page {
    flex: 1 1 auto;
}

.page__welcome {
}
.page__visiting {
}

.page__explore {
}

/*-HEADER-------------------------------------------------------------*/
.header-top {
    background: #030303;
    padding: 62px 0;
}

.header-top__container {
}

.header-top__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-top__label {
    font-family: var(--second-family);
    font-size: 28px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #fff;
    background: url(../images/header/icons/01.svg) 0 0 no-repeat;
    display: flex;
    align-items: center;
    padding: 0 0 0 74px;
}
.header-top__menu {
}
.menu-header {
    display: flex;
    align-items: center;
}
.menu-header__item {
}
.menu-header__item:not(:last-child) {
    margin: 0 55px 0 0;
}
.menu-header__link {
    font-weight: 200;
    font-size: 22px;
    letter-spacing: 0.09em;
    color: #fff;
    transition: all 0.2s ease 0s;
}
.menu-header__link:hover{
    color:#9d8665;
}
.menu-header__link:active{
    color: #7e6c51;
}

/*-WELCOM--------------------------------------*/


.welcome {
    position: relative;
    background: #030303;
    overflow: hidden;
}
.welcome__container {
    position: relative;
}
.welcome__body{
    position: relative;
    z-index: 10;
}
._container {
}
.welcome__content {
    padding: 150px 0 272px 0;
    max-width: 598px;
}
.welcome__label {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 80px;
    line-height: 113%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 25px 0;
}
.welcome__text {
    font-weight: 300;
    font-size: 28px;
    letter-spacing: 0.07em;
    color: #fff;
    margin: 0 0 75px 0;
}
.welcome__button {
    border-radius: 10px;
    max-width: 360px;
    background: #710707;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 64px;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.09em;
    color: #fff;
    transition: all 0.2s ease 0s;
}
.welcome__button:hover{
    background: #9d8665;
}
.welcome__image {
}
.welcome__slider {
    position: absolute;
    bottom: 0;
    right: 0;
    min-height: 120px;
    padding: 0 74px;
    background: #030303;
}
.slider-welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.slider-welcome__slide-numbers{
    display: inline-flex;
    font-weight: 400;
    font-size: 22px;
    line-height: 182%;
    text-transform: uppercase;
    color: #fff;
    margin-right: 55px;
}
.slider-welcome__slide-numbers > *:not(:last-child){
    margin-right: 10px;
}
.slider-welcome__current-slide-number {
}
.slider-welcome__total-slide-numbers {
}
.slider-welcome__rectangles{
    display: flex;
    margin-right: 60px;
}
.slider-welcome__rectangles >*:not(:last-child){
    margin-right: 25px;
}
.slider-welcome__rect {
    padding: 8px 8px;
    background-color: #fff;
}
.slider-welcome__rect_cur {
    background-color: #d2b183;
    transition: all 0.2s ease 0s;
}
.slider-welcome__rect_cur:hover{
    background-color: #9d8665;
}
.slider-welcome__left-arrow{
    color: #fff;
    transition: all 0.2s ease 0s;
}
.slider-welcome__right-arrow {
    margin-left:20px;
    color: #fff;
    transition: all 0.2s ease 0s;
}

.slider-welcome__left-arrow:hover{
    color: #9d8665;
}

.slider-welcome__right-arrow:hover{
    color: #9d8665;
} 

.welcome__background-image{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    box-shadow: 0 4px 4px 0 #030303;
}
.welcome__background-image img{
    max-width: 100%;
}

/*-VISITING-----------------------------------------------*/


.visiting {
    padding: 75px 0;
}
.visiting__container {
}

.visiting__title {
    font-weight: 400;
    font-family: var(--second-family);
    font-size: 80px;
    line-height: 113%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #9d8665;
    padding: 0 0 25px 0;
    border-bottom: 3px solid #710707;
}
.visiting__body {
    padding: 75px 0 0 0;
}
.visiting__row {
    display: flex;
    margin: 0 -30px;
}
.visiting__column {
    flex: 0 1 33.33333%;
    padding: 0 30px;
    margin: 0 0 75px 0;
}
.visiting__item {
}
.item-visiting {
}
.item-visiting__image {
    padding: 0 0 64.772%  0;
    display: block;
    position: relative;
    margin: 0 0 25px 0;
}
.item-visiting__body {
}
.item-visiting__body>*:not(:last-child) {
    margin: 0 0 10px 0;
}
.item-visiting__label {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    display: block;
    color: inherit;
}
.item-visiting__horizontalrule{
    min-height: 2px;
    background-color: #710707;
    max-width: 68.18%;
}
.item-visiting__type {
    font-weight: 200;
    font-size: 22px;
}
.item-visiting__text {
    font-weight: 200;
    font-size: 18px;
}

/*-EXPLORE-------------------------------------------------------------*/


.explore {
    background: #030303;
    padding: 75px 0;
}
.explore__container {
}
.explore__body{
    display: flex;
}
.explore__content {
    color: #fff;
    flex: 1 1 auto;
    padding: 0 60px 0 0;
}
.explore__title {
    padding: 0 0 25px 0;
    border-bottom: 3px solid #710707;
    margin: 0 0 75px 0;
}
.title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 80px;
    line-height: 113%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.explore__paragraphs >*:not(:last-child) {
    margin: 0 0 25px 0;
}
.explore__paragraph {
    font-weight: 300;
    font-size: 22px;
    line-height: 175%;
}
.gold-text {
    color: #caaa7d;
}
.explore__images{
    flex: 0 0 50%;
    position: relative;
    padding: 0 0 48.61% 0;
}
.explore__image {
    position: absolute;
    top: 0;
    left: 0;
}
.explore__image img {
    
}
.explore__image_before {
    width: 61.11%;
    height: 100%;
    z-index: 200;
    overflow: hidden;
}

.explore__image_after {
       
}
.explore__dragme{
    position: absolute;
    top: 0; left: 58.4%;
    z-index: 300;
    cursor: pointer;
}